{
  "presets": ["react", "env", "stage-1"],
  "plugins": [
    "transform-decorators-legacy",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
     "transform-class-properties"]
}